name: Publish to Hex.pm

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish:
    name: Publish to Hex.pm
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.16'
          otp-version: '26'

      - name: Restore dependencies cache
        uses: actions/cache@v4
        with:
          path: deps
          key: ${{ runner.os }}-mix-26-1.16-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-26-1.16-

      - name: Install dependencies
        run: mix deps.get

      - name: Run tests
        run: mix test

      - name: Publish to Hex
        env:
          HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
        run: |
          mix hex.publish --yes
